<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=.;Database=pubs;User ID=sa;Password=password" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <authorization>
            <allow users="?" />
        </authorization>
    </system.web>
</configuration>
